email=nayak.tekbabu@gmail.com
@test-scope:registry=http://13.233.68.52:8081/nayaktechno/repository/nodejs-repo/

//13.233.68.52:8081/nayaktechno/repository/nodejs-repo/:username=admin
//13.233.68.52:8081/nayaktechno/repository/nodejs-repo/:_password=YWRtaW46SmVuaXNoQDEyMw==
 always-auth=true

allowRepublish=true
