email=nayak.tekbabu@gmail.com
@test-scope:registry=http://3.109.214.235:8081/nayaktechno/repository/nodejs-repo/

//3.109.214.235:8081/nayaktechno/repository/nodejs-repo/:username=admin
//3.109.214.235:8081/nayaktechno/repository/nodejs-repo/:_auth=YWRtaW46SmVuaXNoQDEyMw==
 always-auth=true

allowRepublish=true
